body {
    font-family: 'Roboto', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    
    
}

h1, .about, .accomplishments, .future {
    padding: 0px 600px 0px 300px;
    display: flex;
    flex-direction: column;
}

h1 {
    padding-left: 300px;
}

h2, h3 {
    margin: 5px 0px;
}

.ul1 {
    margin-bottom: 5px;
}


@media (max-width: 1000px) {
    body {
    font-family: 'Roboto', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    
    max-height: 100%;
    }

    h1, .about, .accomplishments, .future {
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    }
    
}

